<p id="notice"><%= notice %></p>

<h1><%= @listing.name %></h1>
<%= link_to 'Edit', edit_category_listing_path(@category, @listing) %> |
<%= link_to 'Delete', category_listing_path(@category, @listing), method: :delete %>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@listing.asking_price) %> <small><i><%= @listing.price_negotiable ? '(negotiable)' : '(non-negotiable)' %></i></small>
</p>



<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<% @listing.comments.each do |comment| %>
  <p class='comment'>
    <%= comment.comment %> </br>
  </p>
<% end %>

<%= form_for [@category, @listing, @comment] do |f| %>
  <%= f.text_area :comment %> </br>
  <%= f.submit 'Comment', class: 'commentSubmitButton' %>
<% end %>


</br>
</br>

<%= link_to 'Back', :back %>
