<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @listing.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.asking_price %> <small><i><%= @listing.price_negotiable ? '(negotiable)' : '(non-negotiable)' %></i></small>
</p>



<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<%= link_to 'Edit', edit_category_listing_path(@category, @listing) %> |
<%= link_to 'Delete', category_listing_path(@category, @listing), method: :delete %>

</br>
</br>

<%= link_to 'Back', :back %>
