<p id="notice"><%= notice %></p>

<h1><%= @category.name %></h1>

<%= form_tag category_listings_path(@category), method: :get do %>
  <p>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil, class: 'listingSubmitButton'  %>
  </p>
<% end %>

</br>

<%= link_to '++ New Listing ++', new_category_listing_path(@category), class: 'btn btn-default noBorder' %>

</br>
</br>

<div class='sellingListings'>
  <div class='buyingListings'>
    <%= render 'listings/buying' %>
  </div>

  <div class='sellingListings'>
    <%= render 'listings/selling' %>
  </div>
</div>
