<p id="notice"><%= notice %></p>

<h1><%= @category.name %></h1>

</br>

<%= link_to '++ New Listing ++', new_category_listing_path(@category) %>

</br>
</br>

<div class='col-md-6'>
  <%= render 'listings/buying' %>
</div>

<div class='col-md-6'>
  <%= render 'listings/selling' %>
</div>
